body {
  background: #f0e68c;
  color: #0000;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.titulo-principal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  display: center;
  align-items: center;
  padding: 0;
  color: #000;
}

.conteudo {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff;
  padding: 55px;
  border-radius: 12px #000;
}

.topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.topo input {
  width: 350px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #000;
  outline: none;
  font-size: 1.2rem;
  background: #f0e68c;
  color: #000;
}

.topo button {
  width: 45px;
  border-radius: 12px;
  border: 1px solid #f0e68c;
  background: #f0e68c;
  color: #fff;
  outline: none;
}

.topo button:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

#listaTarefas {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#listaTarefas li {
  padding: 20px;
  background: #f0e68c;
  color: #000;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.btnAcao {
  border-radius: 20px;
  border: 1px solid #fff;
  width: 38px;
  height: 38px;
  margin-right: 8px;
  cursor: pointer;
  background: #f0e68c;
  color: #000;
  outline: none;
}

.btnAcao:hover {
  background: #b22222;
}

.textoTarefa {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
  white-space: nowrap;
}

#janelaEdicao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border: 1px solid #fff;
  width: 415px;
  border-radius: 12px;
  z-index: 200;
  display: none;
}

#janelaEdicao.abrir {
  display: block !important;
}

#janelaEdicaoFundo {
  position: fixed;
  top: 0;
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  z-index: 100;
  right: 0;
  display: none;
}

#janelaEdicaoFundo.abrir {
  display: block !important;
}

#janelaEdicaoBtnFechar {
  position: absolute;
  top: -25px;
  right: -18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #f0e68c;
  color: #000;
  outline: none;
}

form {
  width: 100%;
  margin-top: 20px;
}

.frm-linha {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.frm-linha label {
  margin-bottom: 7px;
}

.frm-linha input {
  padding: 15px;
  border-radius: 12px;
  outline: none;
  border: 1px solid #fff;
  font-size: 1.2rem;
  background: #f0e68c;
  color: #000;
}

.frm-linha button {
  background: #f0e68c;
  border: 1px solid #fff;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  height: 50px;
  font-size: 1.3rem;
  outline: none;
}

.frm-linha button:hover {
  background: #228b22;
}
